asgiref==3.5.2
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
distlib==0.3.6
filelock==3.8.0
Django==4.1.3
django-cors-headers==3.13.0
django-environ==0.9.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
pipenv==2022.11.30
platformdirs==2.5.4
PyJWT==2.6.0
pytz==2022.6
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.17.0
virtualenv-clone==0.5.7
wincertstore==0.2



